alembic==1.16.2
beautifulsoup4==4.11.1
email_validator==2.2.0
Flask==3.1.1
Flask_Cors==5.0.0
flask_mail==0.10.0
flask_sqlalchemy==3.1.1
nltk==3.9.1
numpy==1.24.4
python-dotenv==1.0.1
requests==2.32.4
SQLAlchemy==2.0.41
toml==0.10.2
torch==2.1.2+cpu
transformers==4.37.2
Werkzeug==3.1.3

